extends ../base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentPage = "main" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    h1.visually-hidden Поиск квартир
    section.apartment-search
      .container.apartment-search__container
        .apartment-search__filter
          +search-filter
        .apartment-search__result
          h2.apartment-search__title Квартиры
          .search-result
            .search-result__sort-bar
            ul.search-result__list
              li.search-result__item
                .flat-card fhghghgh
              li.search-result__item
                .flat-card fhghghgh
              li.search-result__item
                .flat-card fhghghgh
              li.search-result__item
                .flat-card fhghghgh
block modals
