extends ../base/layout

block variables
  - const title = "Тестовое задание"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""

block main
  main
    h1.visually-hidden Поиск квартир
    section.apartment-search
      .container.apartment-search__container
        .apartment-search__filter
          +search-filter
        .apartment-search__result
          h2.apartment-search__title Квартиры
          .search-result
            .search-result__sort-bar
              +sort-bar
            ul.search-result__list
            button.search-result__load-more-btn(type="button") Загрузить еще
        button.apartment-search__scroll-up-btn.hidden(type="button" aria-label="Наверх")
          +icon("icon-arrow", 10, 16)

block templates
  +apartment-card
  +error-request-response
