.apartment-card {
  display: flex;
  align-items: flex-start;

  padding: 16px 0;

  @include vp--1387 {
    flex-direction: row-reverse;

    padding: 16px 24px;

    border: 1px solid rgba($color-default-black, 0.1);
    border-radius: 8px;
  }
}

.apartment-card__img {
  flex: 0 0 auto;

  width: 80px;
  margin-right: 20px;

  img {
    object-fit: contain;

    width: 80px;
    height: 80px;
  }

  @include vp--1387 {
    margin-right: 0;
  }
}

.apartment-card__info {
  flex: 1 1 auto;
  display: flex;

  @include vp--1387 {
    display: block;
  }
}

.apartment-card__title {
  flex: 1 1 auto;

  min-width: 160px;
  margin-right: 20px;

  font-weight: 500;

  @include vp--1387 {
    margin-bottom: 12px;
  }
}

.apartment-card__details {
  flex: 0 0 auto;
  display: flex;

  @include vp--1387 {
    flex-wrap: wrap;
  }
}

.apartment-card__square {
  flex: 0 0 auto;

  width: 120px;
  margin-right: 20px;

  .unit {
    display: none;
  }

  @include vp--1387 {
    width: unset;
    margin-top: 4px;

    font-weight: 500;

    .unit {
      display: inline;
    }
  }
}

.apartment-card__floor {
  flex: 0 0 auto;

  width: 120px;
  margin-right: 20px;

  color: rgba($color-midnight-express, 0.5);

  .accent {
    color: $color-midnight-express;
  }

  .unit {
    display: none;
  }

  @include vp--1387 {
    width: unset;
    margin-top: 4px;

    .unit {
      display: inline;
    }
  }
}

.apartment-card__price {
  flex: 0 0 auto;

  width: 120px;

  .unit {
    display: none;
  }

  @include vp--1387 {
    width: unset;
    margin-top: 4px;
    margin-right: 20px;

    font-weight: 500;

    .unit {
      display: inline;
    }
  }
}
