.apartment-search {
  margin: 96px 0;

  @include vp--1387 {
    margin: 48px 0;
  }

  @include vp--959 {
    margin: 24px 0;
  }
}

.apartment-search__container {
  position: relative;

  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;

  @include vp--959 {
    display: block;
  }
}

.apartment-search__filter {
  flex: 0 0 auto;

  margin-left: 80px;

  @include vp--1199 {
    margin-left: 28px;
  }

  @include vp--959 {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.apartment-search__result {
  flex: 1 1 auto;
}

.apartment-search__title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 54px;
  line-height: 1.02;

  @include vp--1387 {
    margin-bottom: 32px;
  }
}

.apartment-search__scroll-up-btn {
  @include reset-btn;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: calc(50% - 688px);
  bottom: 32px;

  width: 40px;
  height: 40px;

  color: $color-default-white;

  background-color: $color-chinook;
  border: 2px solid $color-chinook;
  border-radius: 50%;

  transition:
    color $trans--300,
    background-color $trans--300,
    border-color $trans--300,
    visibility $trans--300,
    opacity $trans--300;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    display: block;
    width: 10px;
    height: 16px;
  }

  &:not(:disabled):hover,
  &:focus {
    color: $color-medium-sea-green;
    background-color: $color-default-white;
    border-color: $color-medium-sea-green;
  }
}
