.search-filter {
  width: 400px;
  padding: 40px;

  background-image: $gradient-filter;
  border-radius: 10px;
}

.search-filter__rooms {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  margin: -8px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.search-filter__room {
  padding: 8px;

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }
}

.search-filter__room-label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  font-size: 16px;
  line-height: 1.5;

  background-color: $color-default-white;
  border: 2px solid $color-default-white;
  border-radius: 50%;

  transition:
    background-color $trans--300,
    border-color $trans--300,
    box-shadow $trans--300;

  span {
    user-select: none;
  }

  input:checked + & {
    background-color: $color-medium-sea-green;
    border-color: $color-medium-sea-green;
    box-shadow: 0 6px 20px $color-chinook;
  }

  &:hover,
  input:focus + & {
    border-color: $color-medium-sea-green;
  }

  input:checked + &:hover,
  input:checked:focus + & {
    border-color: $color-default-white;
  }
}

.search-filter__range {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.search-filter__range-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 1.43;
}

.search-filter__range-values {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.search-filter__range-value-wrapper {
  display: flex;

  font-size: 16px;
  line-height: 1.5;

  span {
    opacity: 0.5;
  }

  &:not(:last-child) {
    margin-right: 36px;
  }
}

.search-filter__range-value {
  width: 100px;
  margin-left: 8px;

  font-weight: 500;
}

.search-filter__range-item {
  &.noUi-target {
    height: 3px;
    padding: 0 7px;

    background-color: rgba($color-midnight-express, 0.1);
    border: none;
    box-shadow: none;
  }

  .noUi-connects {
    border: none;
    border-radius: 1.5;
  }

  .noUi-connect {
    background-color: $color-medium-sea-green;
    border-radius: 1.5;
  }

  .noUi-handle {
    cursor: pointer;

    right: -7px;

    width: 14px;
    height: 14px;

    background-color: $color-medium-sea-green;
    border: 2px solid $color-medium-sea-green;
    border-radius: 50%;
    box-shadow: none;
    outline: none;

    transition: background-color $trans--300;

    &::before,
    &::after {
      content: unset;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-default-white;
    }
  }
}

.search-filter__reset-btn {
  @include reset-btn;

  position: relative;

  margin: 0 8px;
  padding: 5px 24px 7px 8px;

  font-size: 14px;
  line-height: 21.430px;
  color: $color-default-black;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 8px;

    width: 10px;
    height: 2px;

    background-color: $color-midnight-express;
    border-radius: 1px;

    transition: background-color $trans--300;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $color-medium-sea-green;
  }
}
