.search-result__sort-bar {
  margin-bottom: 16px;

  @include vp--1387 {
    margin-bottom: 12px;
  }
}

.search-result__list {
  @include reset-list;

  border-bottom: 1px solid rgba($color-default-black, 0.1);

  &:not(:last-child) {
    margin-bottom: 48px;
  }

  @include vp--1387 {
    border: none;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.search-result__item {
  border-top: 1px solid rgba($color-default-black, 0.1);

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include vp--1387 {
    border: none;
  }

  @include vp--1199 {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}

.search-result__load-more-btn {
  @include reset-btn;

  padding: 7px 23px;

  font-weight: 500;

  border: 1px solid rgba($color-midnight-express, 0.2);
  border-radius: 20px;

  transition:
    color $trans--300,
    border-color $trans--300;

  &:not(:disabled):hover,
  &:focus {
    color: $color-medium-sea-green;
    border-color: $color-medium-sea-green;
  }

  &.hidden {
    display: none;
  }

  @include vp--1199 {
    font-size: 15px;
    line-height: 1.47;
  }
}
