mixin apartment-card
  template(id="apartment-card")
    .apartment-card
      .apartment-card__img
        img(src="#" width="80" height="80" alt="")
      .apartment-card__title
      .apartment-card__square
      .apartment-card__floor
      .apartment-card__price
