// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-midnight-express:          #0b1739;

$color-medium-sea-green:          #3eb57c;
$color-chinook:                   #95d0a1;
$color-celadon:                   #aee4b2;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$gradient-filter:                   linear-gradient(
                                      135deg,
                                      rgba($color-celadon, 0.3) 0%,
                                      rgba($color-chinook, 0.3) 100%
                                    );

// Typography
//---------------------------------

$font-family--pt-root-ui:          "PT Root UI", "Arial", sans-serif;

// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--600:                           600px;
$vp--960:                           960px;
$vp--1200:                          1200px;
$vp--1388:                          1388px;
$vp--1440:                          1440px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
